<div class="landing-footer container">
    <div class="row py-5">
        <div class="col-6 col-lg-3">
            <section>
                <h5 class='text-uppercase'>About Zulip</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/why-zulip.html">Why Zulip</a></li>
                    <li><a href="/features.html">Features</a></li>
                    <li><a href="/pricing.html">Plans &amp; pricing</a></li>
                    <li><a href="/team.html">Team</a> and <a href="/history/">History</a></li>
                </ul>
            </section>
        </div>
        <div class="col-6 col-lg-3">
            <section>
                <h5 class='text-uppercase'>Help &amp; community</h5>
                <ul class="list-unstyled">
                    <li><a href="https://zulip.readthedocs.io/en/latest/contributing/chat-zulip-org.html">Community chat</a></li>
                    <li><a href="{{ server_url }}/help">Help center</a></li>
                    <li><a href="https://twitter.com/zulip/">Twitter</a> & <a href="https://blog.zulip.org">Blog</a></li>
                    <li><a href="https://github.com/zulip/zulip/">GitHub</a>
                    & <a href="https://zulip.readthedocs.io/en/latest/">ReadTheDocs</a></li>
                    <li><a href="{{ server_url }}/help/contact-support">Support</a></li>
                </ul>
            </section>
        </div>
        <div class="col-6 col-lg-3">
            <section>
                <h5 class='text-uppercase'>Accounts</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ server_url }}/accounts/find">Find account</a></li>
                    <li><a href="{{ server_url }}/new/">New organization</a></li>
                    <li><a href="{{ server_url }}/login">Login</a></li>
                    <li><a href="{{ server_url }}/signup">Sign up</a></li>
                    <li><a href="/terms.html">Terms of Service</a></li>
                    <li><a href="/privacy.html">Privacy policy</a></li>
                </ul>
            </section>
        </div>
        <div class="col-6 col-lg-3">
            <section>
                <h5 class='text-uppercase'>Apps &amp; integrations</h5>
                <ul class="list-unstyled">
                    <li><a href="/apps.html">Desktop &amp; mobile apps</a></li>
                    <li><a href="{{ server_url }}/integrations/">Integrations</a></li>
                    <li><a href="{{ server_url }}/api/">REST API</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
