---
layout: layouts/base.njk
---
<div class="community_page">
    <div class="container p-lg-5">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>{{ hero_heading }}</h1>
                <p> {{ hero_description }} </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase">Join Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ hero_image }}" alt="Hero image">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-purple">
    <div class="container ways_to_contribute p-5 text-center text-md-left">
        <div class="row row-cols-1 row-cols-md-2 g-4 m-auto">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_book.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ heading1 }}</h5>
                                <p class="card-text">{{ description1 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_doc.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ heading2 }}</h5>
                                <p class="card-text">{{ description2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_bug.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ heading3 }}</h5>
                                <p class="card-text">{{ description3 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_chat.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ heading4 }}</h5>
                                <p class="card-text">{{ description4 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
