---
layout: layouts/base.njk
---
<div class="community_page">
    <div class="container p-lg-5">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>{{ hero_title }}</h1>
                <p> {{ hero_description }} </p>
                <div class="mt-5">
                    <a href="" class="btn btn-primary text-uppercase">Join Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ hero_image }}" alt="Hero image">
            </div>
        </div>
    </div>

    <div class="container-fluid ways_to_contribute p-5 text-center text-md-left">
        <div class="row row-cols-1 row-cols-md-2 g-4 m-auto">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_book.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Write Documentation</h5>
                                <p class="card-text">Help us create new and updated articles and tutorials. Your work could be downloaded by thousands.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_doc.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Write Blog Post</h5>
                                <p class="card-text">Write or suggest a post about your Zulip experience. Did it save you time and hassle? That's worth sharing.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_bug.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Terminate Bugs</h5>
                                <p class="card-text">You hate 'em. We hate 'em. Let's squash 'em. Help us manage or eliminate vital issue on our various platforms.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4 img-col">
                            <img src="/images/CommunityPage_chat.svg">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Talk on the forums</h5>
                                <p class="card-text">oin our vocal supportive community to chat and share ideas with developers and Zulip staff.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
