---
layout: layouts/base.njk
---

<div class="pricing-page container-xl">
    <div class="row">
        <div class="col-xxl-2 pricing-header pb-5">
            <h1 class="text-uppercase">Plans & Pricing</h1>
            <h6>Get started today<h6>
        </div>
        <div class="col-xxl-10">
            <div class="row g-4">
                <div class="col-lg-6">
                    <h2 class="plan-catergory text-center">Zulip <span class="color-gradient">Cloud</span></h2>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="plan-box mx-2 mx-sm-0">
                                <div class="plan-title">
                                    <h5 class="text-uppercase pt-4">Lite</h5>
                                    <h1 class="text-uppercase text-center pb-0 color-dark-blue">Free</h1>
                                </div>
                                <div class="desktop-top-features">
                                        <div class="feature">
                                            <p>10,000 messages of search history</p>
                                        </div>
                                        <div class="feature">
                                            <p>File storage up to 5 GB total</p>
                                        </div>
                                        <div class="feature">
                                            <p>No sysadmin work required</p>
                                        </div>
                                        <div class="my-3 text-center" id="lite_plan">
                                            <a href="{{ server_url }}" class="btn btn-primary w-100">Sign up for Lite</a>
                                        </div>
                                        <div class="asterisk-detail">
                                            <p class="mb-0">Try Zulip for an unlimited period of time</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="plan-box mx-2 mx-sm-0">
                                <div class="plan-title">
                                    <h5 class="text-uppercase mb-0 pt-4">Standard</h5>
                                    <div class="text-uppercase">
                                        <p class="title text-center pb-0"><span class="price-sign">$</span>6<span class="price-sign">.67</span><span class="price-detail">/user/month*</span></p>
                                    </div>
                                </div>
                                <div class="desktop-top-features">
                                        <div class="feature">
                                            <p>Full search history</p>
                                        </div>
                                        <div class="feature">
                                            <p>File storage up to 10 GB per user</p>
                                        </div>
                                        <div class="feature">
                                            <p>Priority commercial support</p>
                                        </div>
                                    <div class="my-3 text-center" id="standard_plan">
                                        <a href="{{ server_url }}" class="btn btn-primary w-100 px-0"><span class="m-auto">Start 60 day free trial</span></a>
                                    </div>
                                    <div class="asterisk-detail">
                                        <p class="mb-0">*Billed annually</p>
                                        <p class="mb-0">$8/month billed monthly</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="plan-catergory text-center">Zulip <span class="color-green">On-Premise</span></h2>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="plan-box mx-2 mx-sm-0">
                                <div class="plan-title">
                                    <h5 class="text-uppercase pt-4">Community Support</h5>
                                    <h5 class="text-center pt-2 pb-0 color-dark-blue">Install your own Zulip server</h5>
                                </div>
                                <div class="desktop-top-features">
                                        <div class="feature">
                                            <p>Easy self-service installation</p>
                                        </div>
                                        <div class="feature">
                                            <p>LDAP/Active directory integration</p>
                                        </div>
                                        <div class="feature">
                                            <p>All Standard/Enterprise features included</p>
                                        </div>
                                        <div class="my-3 text-center">
                                            <a href="https://zulip.readthedocs.io/en/stable/production/install.html" class="btn btn-primary w-100">Install a Zuilp server</a>
                                        </div>
                                        <div class="asterisk-detail">
                                            <p class="mb-0">Free and open source forever</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="plan-box mx-2 mx-sm-0">
                                <div class="plan-title">
                                    <h5 class="text-uppercase pt-4">Enterprise</h5>
                                    <h5 class="text-center pt-2 pb-0 color-dark-blue">For mission-critical installations</h5>
                                </div>
                                <div class="desktop-top-features">
                                        <div class="feature">
                                            <p>High availability assistance</p>
                                        </div>
                                        <div class="feature">
                                            <p>Support response SLAs</p>
                                        </div>
                                        <div class="feature">
                                            <p>Input into the Zulip roadmap</p>
                                        </div>
                                        <div class="my-3 text-center">
                                            <a href="mailto:sales@zulip.com" class="btn btn-primary w-100">Contact Sales</a>
                                        </div>
                                        <div class="asterisk-detail">
                                            <p class="mb-0">Pricing varies with support required</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-comparison-table container-xl mt-5 d-none d-md-block">
    <div class="col-xs-12">
        <table class="table">
          <thead>
          <tr class="table-title">
            <th></th>
            <th>
              <div>
                <p class="plan">LITE</p>
              </div>
            </th>
            <th>
              <div>
                <p class="plan">Standard</p>
            </div>
            </th>
            <th>
              <div>
                <p class="plan">Community Support</p>
              </div>
            </th>
            <th>
              <div>
                <p class="plan">Enterprise</p>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="row-title text-uppercase">
            <td colspan="5">
              <p>Files &amp; Sharing</p>
            </td>
          </tr>
          <tr class="row-content">
            <td>
              <p>Message history</p>
            </td>
            <td class="feature-description">
              <p>10k of your team’s most recent messages</p>
            </td>
            <td class="feature-description">
              <p>Unlimited</p>
            </td>
            <td class="feature-description">
              <p>Unlimited</p>
            </td>
            <td class="feature-description">
              <p>Unlimited</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
</div>
<div class="faq mt-5">
    <div class="container-xl my-5">
    <div class="title text-uppercase text-center pt-4">
        <h2>Frequently asked questions</h2>
    </div>
    <div class="accordion accordion-flush py-3" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Do you have special plans for open source projects, non-profits, groups of friends, and other non-commercial entities?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
          <div class="accordion-body"><p class="answer">
                    Yes! Zulip Cloud Standard is free for open source
                    projects.  We also offer steep discounts (usually
                    85%-100%) to many non-profits, educational
                    institutions, groups of friends, and in other
                    scenarios where most of the users are not fulltime
                    employees of the customer. Generally, only closed
                    organizations that also pay their members’
                    salaries pay full price.
                </p>
                <p class="answer">
                    You can request sponsorship during
                    <a href="/new">organization creation</a>, in an organization's
                    <a href="/accounts/go/?next=/upgrade%23sponsorship">billing page</a>, or contact us at
                    <a href="mailto:sales@zulip.com">sales@zulip.com</a>
                </p>
                <p class="answer">
                    You may also be interested in
                    <a href="/for/open-source">Zulip for open source
                    projects</a> or
                    <a href="/for/working-groups-and-communities">Zulip
                    for working groups and other part-time communities</a>.
                </p></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Does Zulip scale to a large number of users?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample">
          <div class="accordion-body">Yes! Some of our biggest fans have hundreds or thousands
                    of users, including Fortune 500 companies like Akamai,
                    and open source communities like
                    <a href="https://www.recurse.com/blog/112-how-rc-uses-zulip">The
                    Recurse Center</a>. If you’d like to see a large Zulip
                    in action, the
                    <a href="https://chat.zulip.org">Zulip
                    community server</a> has thousands of accounts and hundreds of weekly active users, and is run on a single machine with 8GB of RAM.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Can I pay by credit card and/or invoice?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample">
          <div class="accordion-body">You can always use a credit card to pay, and we can bill
                    by invoice for amounts over $1000.</div>
        </div>
      </div>
    </div>
    </div>
</div>

<script>
// NOTE: We need realm url here, not server_url
const server_url = "{{ server_url }}"
const urlParams = new URLSearchParams(window.location.search);
const realm_plan_type = urlParams.get('realm_plan_type');
const sponsorship_pending = urlParams.get('sponsorship_pending');
const current_plan_html = '<a href="{{ server_url }}/upgrade" class="btn btn-primary w-100">Current Plan</a>';

if (realm_plan_type == 2 || sponsorship_pending == 'true') {
    document.getElementById("lite_plan").innerHTML = current_plan_html;
} else if (['3', '4'].indexOf(realm_plan_type) !== -1) {
    document.getElementById("standard_plan").innerHTML = current_plan_html;
} else if (sponsorship_pending == 'true' && realm_plan_type !== '0') {
    document.getElementById("standard_plan").innerHTML = '<a href="{{ server_url }}/billing" class="btn btn-primary w-100">Sponsorship Pending</a>';
}
</script>
