---
layout: layouts/markdown_page.njk
---

<!-- Font Awesome Free icons, registered under amanagr@zulip.com -->
<script src="https://kit.fontawesome.com/c93fdfe998.js" crossorigin="anonymous"></script>

{{ markdown_open_source | markdown | safe }}

<div class="testimonials container-fluid text-center">
    <div class="container py-5">
        <div class="wrapper-carousel-fix">
            <!-- Carousel Wrapper -->
            <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="/images/keith_winstein.jpeg" class="rounded-circle img-fluid" alt="author avatar">
                            </div>
                            <!--Content-->
                            <p>
                            <i class="fas fa-quote-left"></i> I have to use Slack for some other research groups I collaborate with, but my own graduate students voted to switch to Zulip a few years ago and it's just vastly better. Having infinite well-organized history (tagged by topic and accessible with a click) is super-helpful when my group is involved in a bunch of different projects and I meet with each student once or twice a week and often need help remembering, 'Wait, what did we decide about this a month ago when we last talked about it?'  </p>
                            <h4 class="font-weight-bold">Keith Winstein</h4>
                            <h6 class="font-weight-bold my-3">Assistant Professor of Computer Science at Stanford University</h6>
                        </div>
                    </div>
                <!--First slide-->
            </div>
            <!--Slides-->
            </div>
            <!-- Carousel Wrapper -->
        </div>
    </div>
</div>
